* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
